#!/usr/bin/make -f

include /usr/share/dpkg/pkg-info.mk

export CGO_ENABLED=0
export GO111MODULE=on

VERSION := $(DEB_VERSION_UPSTREAM)

%:
	dh $@ --with bash-completion

override_dh_auto_build:
	$(MAKE) man
	go build -trimpath -ldflags '-s -w -X main.version=$(VERSION)' -o clnkr ./cmd/clnkr
	go build -trimpath -ldflags '-s -w -X main.version=$(VERSION)' -o clnkrd ./cmd/clnkrd

override_dh_auto_test:
	go test ./...

override_dh_auto_install:
	install -D -m 0755 clnkr debian/clnkr/usr/bin/clnkr
	install -D -m 0755 clnkrd debian/clnkr/usr/bin/clnkrd

override_dh_auto_clean:
	rm -f clnkr clnkrd
	rm -rf build/docs

override_dh_dwz:
	# dwz fails on Go binaries

override_dh_builddeb:
	dh_builddeb -- -Zxz
